 # Assignment

1. What are data structures, and why are they important?

-    Data structures are ways of organizing and storing data in a computer so it can be used efficiently. They’re important because they enable optimized data access, manipulation, and storage.

2. Explain the difference between mutable and immutable data types with examples:

    - Mutable: Can be changed after creation. Example: list, dict, set.
    - Immutable: Cannot be changed after creation. Example: int, str, tuple

In [2]:
#example of muatable
a = [1, 2]
a.append(3)

#example of immutable
s = "hello"
s[0] = "H"

TypeError: 'str' object does not support item assignment

 3. What are the main differences between lists and tuples in Python?

   - Lists are mutable, slower, and usually used for dynamic data.

   - Tuples are immutable, faster, and used for fixed data.
      Example: list = [1, 2], tuple = (1, 2)

 4. Describe how dictionaries store data:


  - Dictionaries store data as key-value pairs. Each key maps to a value, and keys must be unique and immutable.

In [3]:
#example
person = {"name": "Alice", "age": 25}

5. Why might you use a set instead of a list in Python?


   - Sets automatically remove duplicates and offer faster membership tests.

In [4]:
#examole
set([1, 2, 2, 3])

{1, 2, 3}

6. What is a string in Python, and how is it different from a list?


  - A string is a sequence of characters and is immutable.
  - A list is a sequence of items (any data type) and is mutable.

In [5]:
#example
s = "abc"      # Immutable
l = ['a', 'b'] # Mutable

7.  How do tuples ensure data integrity in Python?


   - Tuples are immutable, so once created, their contents can't be changed—useful for fixed collections like coordinates.

8. What is a hash table, and how does it relate to dictionaries in Python?

  - A hash table stores data using a key’s hash value to determine the index. Python dictionaries are implemented using hash tables for fast lookups.

In [6]:
''' 9. Can lists contain different data types in Python?
      ->> yes '''
mixed = [1, "hello", True, 3.14]

10. Explain why strings are immutable in Python:


  - Immutability makes strings hashable, thread-safe, and memory efficient (shared across variables if unchanged).

11. What advantages do dictionaries offer over lists for certain tasks?

   - Faster lookups by key (O(1) average)

   - Clear associations (key-value pairs)

   - Ideal for representing structured data like JSON

12. Describe a scenario where using a tuple would be preferable over a list:


   - Use a tuple when you want fixed data, like coordinates (x, y) or passing fixed arguments in functions.

13. How do sets handle duplicate values in Python?
  

   - They automatically remove duplicates.

In [7]:
#example
set([1, 2, 2, 3])

{1, 2, 3}

14. How does the in keyword work differently for lists and dictionaries?

   - List: Checks if the value is present.

   - Dict: Checks if the key is present.

In [8]:
#example
2 in [1, 2, 3]
'name' in {'name': 'Rahul'}

True

15. Can you modify the elements of a tuple? Explain why or why not:


   - No, because tuples are immutable. You cannot change, add, or remove elements after creation.

16. What is a nested dictionary, and give an example of its use case:


   - A dictionary inside another dictionary. Used to store hierarchical data.

In [9]:
#example
students = {
  "101": {"name": "Alice", "age": 20},
  "102": {"name": "Bob", "age": 21}
}

17. Describe the time complexity of accessing elements in a dictionary:


  - Average time complexity is O(1) due to hash table implementation.



18. In what situations are lists preferred over dictionaries?

   - When order matters

   - When you don’t need key-value mapping

   - For simple sequences like names, IDs, etc.



19. Why are dictionaries considered unordered, and how does that affect data retrieval?

   - Before Python 3.7, dictionaries didn’t preserve insertion order. From Python 3.7+, they do, but order isn’t their main purpose—fast access is. Retrieval is based on keys, not position.



20. Explain the difference between a list and a dictionary in terms of data retrieval:


  - List: Accessed by index (position), e.g., list[0]

  - Dictionary: Accessed by key, e.g., dict['name']

# Partical Question

In [10]:
#1. Create a string with your name and print it:
name = "Rahul"
print(name)

Rahul

In [11]:
#2. Find the length of the string "Hello World":

string = "Hello World"
length = len(string)
print(length)

11

In [12]:
#3. Slice the first 3 characters from the string "Python Programming":
text = "Python Programming"
print(text[:3])

Pyt

In [13]:
#4. Convert the string "hello" to uppercase:
word = "hello"
print(word.upper())

HELLO

In [14]:
#5. Replace the word "apple" with "orange" in the string "I like apple":
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

In [16]:
#6. Create a list with numbers 1 to 5 and print it:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [17]:
#7. Append the number 10 to the list [1, 2, 3, 4]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [18]:
#8. Remove the number 3 from the list [1, 2, 3, 4, 5]:

lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [19]:
#9. Access the second element in the list ['a', 'b', 'c', 'd']:
chars = ['a', 'b', 'c', 'd']
print(chars[1])

b

In [20]:
#10. Reverse the list [10, 20, 30, 40, 50]:
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [21]:
#11. Create a tuple with the elements 100, 200, 300 and print it:

numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

In [22]:
#12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow'):
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [23]:
#13. Find the minimum number in the tuple (10, 20, 5, 15):
numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [24]:
#14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit'):
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [26]:
#15. Create a tuple with 3 fruits and check if "kiwi" is in it:
fruits = ('apple', 'banana', 'cherry')
print('kiwi' in fruits)

False

In [27]:
#16. Create a set with elements 'a', 'b', 'c' and print it:

letters = {'a', 'b', 'c'}
print(letters)

{'c', 'b', 'a'}

In [28]:
#17. Clear all elements from the set {1, 2, 3, 4, 5}:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [29]:
#18. Remove the element 4 from the set {1, 2, 3, 4}:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [30]:
#19. Find the union of sets {1, 2, 3} and {3, 4, 5}:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [31]:
#20. Find the intersection of sets {1, 2, 3} and {2, 3, 4}:

a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [32]:
#21. Create a dictionary with keys "name", "age", and "city" and print it:

person = {"name": "Alice", "age": 25, "city": "New York"}
print(person)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [33]:
#22. Add "country": "USA" to {'name': 'John', 'age': 25}:

person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [34]:
#23. Access value of "name" in {'name': 'Alice', 'age': 30}:
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [35]:
#24. Remove the key "age" from {'name': 'Bob', 'age': 22, 'city': 'New York'}:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [36]:
#25. Check if "city" exists in {'name': 'Alice', 'city': 'Paris'}:
person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

In [37]:
#26. Create a list, tuple, and dictionary, and print all:
lst = [1, 2, 3]
tup = (4, 5, 6)
dic = {"a": 7, "b": 8}
print(lst, tup, dic)

[1, 2, 3] (4, 5, 6) {'a': 7, 'b': 8}

In [38]:
#27. Create a list of 5 random numbers (1–100), sort, and print:
import random

numbers = [random.randint(1, 100) for _ in range(5)]
numbers.sort()
print(numbers)

[47, 57, 69, 85, 86]

In [39]:
#28. Create a list with strings and print the element at index 3:
lst = ["apple", "banana", "cherry", "date"]
print(lst[3])

date

In [40]:
#29. Combine two dictionaries and print the result:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [41]:
#30. Convert a list of strings into a set:
str_list = ["apple", "banana", "apple", "cherry"]
str_set = set(str_list)
print(str_set)

{'banana', 'cherry', 'apple'}